.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 40px 0 0 0;

  .headerLogo {
    margin: 0;
    padding: 0;
  }


  display: flex;
  justify-content: space-between;
  gap: 40px;

  

  .headerButton {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #fff;
    }




    .categories {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 150px;
      border: #ffffff solid 1px;
      border-radius: 5px;

      p {
        padding: 10px;
      }
    }

    .active{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 150px;
      border: #ffffff solid 1px;
      border-radius: 5px;
      background-color: #ADFF00;

      p {
        padding: 10px;
      }
    }


    .favorites {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 150px;
      border: #ffffff solid 1px;
      border-radius: 5px;

      p {
        padding: 10px;
      }
    }
  }

  .mobileActions {
    display: none;
  }

}

@media (max-width: 1200px) {
  .header {
    width: 100%;
    padding: 5px;
    gap: 16px;
    justify-content: space-around;

    .headerLogo{
      img{
        width: 150px;
        height: 50px;
        cursor: pointer;
      }
    }



    .headerButton {
      display: none;
    }


    .mobileActions {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}