.heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 150px;
    font-size: clamp(32px, 8vw, 150px);
}

.news {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 60px;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    border-radius: 90px;

    .newsHeading {
        margin: 40px;
        font-size: 80px;
        color: #0039C7;

        b {
            color: black;
            font-weight: 600;

        }
    }

    .newsContent {
        margin: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;




    }
}

@media (max-width: 768px) {
    .news{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: #ffffff;
        margin: 30px;
        width: 90%;
        max-width: 765px;
        height: 100%;
        border-radius: 90px;

        .newsHeading{
            margin: 40px;
            font-size: 40px;
            color: #0039C7;
    
            b {
                color: black;
                font-weight: 600;
    
            }
        }
    }
  
}