.headerSearch {
    display: flex;
    align-items: center;
    border: #ffffff solid 1px;
    border-radius: 5px;


    .headerSearchInput {

        input {
            color: #ffffff;
            border: none;
            height: 50px;
            width: 505px;
            font-size: 18px;
            padding: 0 10px;


            &::placeholder {
                color: white;
                opacity: 1;
            }

        }

        input,
        input:focus {
            background: transparent;
            outline: none;

        }
    }

    .headerInputImg {
        border-left: #ffffff solid 1px;
        padding: 13px;

        img {

            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
        }
    }
}


@media (max-width: 1200px) {



    .headerSearch {
        display: none;
    }

}