body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0039C7;
  color: #ffffff;


  * {
    margin: 0;
    padding: 0;
  }

  .App {
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 1140px;
      width: 80%;
      margin: 0 auto;
      padding: 0 20px;



      


      



    }

      
  }
}

@media (max-width: 430px) {

  body {

    .App {
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        max-width: 430px;
        width: 90%;
        padding:0;
        margin: 0;

        &:first-of-type {
          align-self: flex-start;
        }

        .header {
          display: flex;
          justify-content: space-around;
          align-self: flex-start;
          width: 100%;     
          padding: 0 16px;
          gap: 0px;


        }
      }
    }
  }

}