body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0039C7;
  color: #ffffff;


  * {
    margin: 0;
    padding: 0;
  }

  .App {
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;



      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
        padding: 40px 0 0 0;

        .headerLogo {
          margin: 0;
          padding: 0;
        }


        display: flex;
        justify-content: space-between;
        gap: 40px;

        .headerSearch {
          display: flex;
          align-items: center;
          border: #ffffff solid 1px;
          border-radius: 5px;


          .headerSearchInput {

            input {
              color: #ffffff;
              border: none;
              height: 50px;
              width: 505px;
              font-size: 18px;
              padding: 0 10px;


              &::placeholder {
                color: white;
                opacity: 1;
              }

            }

            input,
            input:focus {
              background: transparent;
              outline: none;

            }
          }

          .headerInputImg {
            border-left: #ffffff solid 1px;
            padding: 13px;

            img {

              width: 20px;
              height: 20px;
              margin: 0;
              padding: 0;
            }
          }
        }

      .headerButton{
        display: flex;
        gap: 30px;

        .categories {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 150px;
          border: #ffffff solid 1px;
          border-radius: 5px;

          p {
            padding: 10px;
          }
        }

        .favorites {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 150px;
          border: #ffffff solid 1px;
          border-radius: 5px;

          p {
            padding: 10px;
          }
        }
      }


      }

      .heading {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-size: 150px;
        font-size: clamp(32px, 8vw, 150px);
      }

      .news {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        margin: 60px;
        width: 100%;
        max-width: 1140px;
        height: 1000px;
        border-radius: 90px;

        .newsHeading {
          margin: 40px;
          font-size: 80px;
          color: #0039C7;

          b {
            color: black;
            font-weight: 600;

          }
        }

        .newsContent {
          margin: 0;
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 30px;
          flex-wrap: wrap;
          justify-content: center;


          .newsCard {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 300px;
            flex: 1 1 300px;
            height: 180px;
            background-image: url('/news.png');
            background-size: cover;

            border-radius: 40px;
            margin: 0;
            padding: 0;


            .newsCardLeft {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              background-color: #0039C7;
              padding: 10px;
              margin: 0;
              width: 300px;
              height: 160px;
              border-top-left-radius: 40px;
              border-bottom-left-radius: 40px;

              .newsCardText {
                margin: 0;
                padding: 0;
                margin-top: 15px;

                h6 {
                  font-size: 28px;
                  margin: 0;
                  padding: 0;

                }

                p {
                  font-size: 10px;
                  text-align: justify;

                  margin: 0;
                  padding: 0;
                }
              }

              .newsCardButton {
                display: flex;
                padding: 0 20px 20px 0;


                .button {

                  button {
                    width: 80px;
                    height: 30px;
                    border: none;
                    background-color: #ADFF00;
                    border-radius: 5px;
                  }

                }

                .like {

                  img {
                    width: 80px;
                    height: 30px;
                  }
                }

              }

            }

            .newsCardRight {
              width: 100px;
              height: 180px;
              border-radius: 40px;

            }

          }

        }
      }
    }
  }
}

@media (max-width: 430px) {

  body {

    .App {
      .container {
        .header {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          // flex-direction: column;

          .headerSearch{
            order: 1;
          }

          .headerButton{
            flex-direction: column-reverse;
          }


        }
      }
    }
  }

}